/* assets/css/style.css */

/* メインコンテンツとサイドバーを横並びにする */
#content {
  display: flex;
  justify-content: space-between;
}

/* サイドバーのスタイル */
#sidebar {
  width: 25%; /* サイドバーの幅 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* メインコンテンツのスタイル */
main {
  width: 70%;
  padding: 20px;
}

header {
  padding: 10px;
}

article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pagination {
  margin-top: 10px;
}

body {
  background: #333333 !important;
  font-family: 'Roboto', sans-serif !important; 
  transform: scale(0.8);
  transform-origin: top left; /* スケーリングの基準点を左上に設定 */
  width: 125%; /* スケーリングにより余分に広がるため、幅を調整 */
}


code {
  background-color: rgb(31, 37, 46) !important;
  color: white !important;
  font-family: 'Roboto', sans-serif !important;  
  font-size: 0.9rem !important;
  font-weight: normal !important;
}

/*
code {
  background-color: gray !important;
  color: white !important;
  font-style:italic !important;
  padding: 0 4px !important;
  border-radius: 4px !important;
}
*/

pre code {
  background: none !important; 
  font-weight: normal !important;
}


img {
   max-width: 100% !important;
   display:block !important;
}


@media (min-width: 700px) {
  img {
    max-width: 700px !important;
  }
}

